<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>添加美食</title>
</head>
<body>
<h2>在【<%=shop.name%>】中添加美食</h2>
<hr>
<form method="POST">
  <div class="item">
    <label for="name">名称</label>
    <input type="text" name="name" id="name">
  </div>
  <div class="item">
    <label for="price">价格</label>
    <input type="text" name="price" id="price">
  </div>
  <div class="item">
    <label for="price">星期</label>
    <select name="week" id="week">
      <option selected="true" value="0">全部</option>
      <option value="1">星期一</option>
      <option value="2">星期二</option>
      <option value="3">星期三</option>
      <option value="4">星期四</option>
      <option value="5">星期五</option>
      <option value="6">星期六</option>
      <option value="7">星期日</option>
    </select>
  </div>
  <div class="item">
    <label>&nbsp;</label>
    <input type="submit" value="提交">
  </div>
  <div class="item">
    <input type="hidden" name="id" value="<%=shop._id%>">
  </div>
</form>
<hr>
<h2>已经添加的</h2>
<ul>
<% foods.forEach(function(food){%>
  <li><%=food.name%>, <%=food.price%> 元 , <span>星期<%=food.week%></span>, <a href="/admin/food/edit/<%=food._id%>" target="_blank">编辑</a></li>
<% })%>
</ul>
</body>
</html>