<% include header %>
<div class="wap">
  <section class="main clearfix" style="background: none;">
    <section class="fav clearfix">
      <% shops.forEach(function(shop){ %>
      <div class="food-item">
        <h3><a href="/shop/<%=shop._id%>"><%=shop.name%></a></h3>
        <p><em>地址：</em><%=shop.address%><br/><em>电话：</em><%=shop.tel%></p>
        <a href="/shop/<%=shop._id%>"><img src="/images/shop/1.png"/></a>
      </div>
      <% }) %>
    </section>
  </section>
</div>
<% include footer %>