<% include header %>
<div class="wap">
  <%if(typeof locals.session.user.email == "undefined"){%>
  <div class="tip">即将推出帐号冲值功能，为了确保你的帐号安全，请填写邮箱地址，用于找回密码、重要安全功能。<a href="/user/account">马上去补全吧！</a></div>
  <%}%>
  <section class="main clearfix" style="background: none;">
    <section class="fav clearfix">
      <% shops.forEach(function(shop){ %>
      <div class="food-item">
        <h3><a href="/shop/<%=shop._id%>"><%=shop.name%></a></h3>
        <p><em>地址：</em><%=shop.address%><br/><em>电话：</em><%=shop.tel%></p>
        <a href="/shop/<%=shop._id%>"><img src="/images/shop/1.png"/></a>
      </div>
      <% }) %>
    </section>
  </section>
</div>
<% include footer %>