<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>餐库</title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
  <link href="/css/style.css" rel="stylesheet" type="text/css"/>
  <script src="/js/jquery.js" type="text/javascript"></script>
  <script src="/js/jquery.reveal.js" type="text/javascript"></script>
  <!--[if IE]><script src="/js/html5.js"></script><![endif]-->
</head>
<body>
<!--[if lte IE 6]><div class="fuck-ie6">你妹啊，还用IE6？</div><![endif]-->
<nav class="nav">
  <div title="餐库" class="logo"><span>餐库</span></div>
  <ul>
    <li id="li_home"><a href="/">首页<span>关注的收藏夹，最新动态</span><i></i></a></li>
    <li id="li_shop" class="active"><a href="/shop">餐馆<span>全部的餐馆都在这里</span><i></i></a></li>
  </ul>
  <div class="line"></div>
</nav>
<section class="main clearfix">
  <div class="login-info">
    <% if (locals.session.user) { %>
    <span><%=locals.session.user.name%> &nbsp;/&nbsp;<a href="/order">我的历史订单</a>&nbsp;/&nbsp;<a href='/logout'>退出</a></span>
    <% } else { %>
    <span><a href='/register'>注册</a> |
    <a href='/login'>登录</a></span>
    <% } %>
  </div>
  <nav class="site-nav">
    <a href="/">餐库</a><i>›</i><a href="/shop">全部餐馆</a><i>›</i><a href="/shop/<%=shop._id%>"><%=shop.name%></a>
  </nav>
  <h1 class="page-title">
    <em>【餐馆】 </em><strong><%=shop.name%></strong>
    <span>电话：<%=shop.tel%></span>
    <span>地址：<%=shop.address%></span>
    <input type="hidden" id="shop_id" value="<%=shop._id%>">
    <input type="hidden" id="shop_name" value="<%=shop.name%>">
  </h1>
  <section class="food-list clearfix">
    <% if(foods.length>0){%>
    <ul>
      <% foods.forEach(function(food){%>
      <li id="food-<%=food._id%>" data-id="<%=food._id%>" data-name="<%=food.name%>" data-price="<%=food.price%>">
        <%=food.name%><em><%=food.price%> 元</em></li>
      <% })}%>
    </ul>
    <% if(foods.length<=0){ %>
    <p>还未添加美食</p>
    <%}%>
  </section>
</section>
<section id="cart">
  <h3><%=shop.name%></h3>
  <div class="r_mycart">
    <table cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <th class="ttl">名称</th>
        <th width="40">份数</th>
        <th width="30">单价</th>
        <th width="30">删除</th>
      </tr>
      </tbody>
    </table>
    <p id="noItemTips" class="ptt pbb" style="text-align: center; display: none; ">您还没有添加菜品哦~</p>
    <table id="cartTable">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="buy"><span class="buy-btn">去结帐</span><strong class="buy-price">总价钱：<span id="cart_zongjia">0</span></strong></div>
</section>
<div id="car-confirm" class="reveal-modal">
  <h3>订单详情</h3>
  <div id="confirm-list"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<script type="text/javascript" src="/js/cart.js"></script>
</body>
</html>