<% include ../header %>
<div class="wap columns clearfix">
  <%if(typeof locals.session.user.email == "undefined"){%>
  <div class="tip">你似乎还没有填写邮箱地址，<a href="/user/account">马上去补全吧！</a></div>
  <%}%>
  <div class="left">
    <section class="fav clearfix">
      <% orders.forEach(function(item){ %>
      <table class="myorder" cellpadding="0" cellspacing="0">
        <tbody>
        <tr class="hd-row">
          <td colspan="6"><%=item.time%> 在<a href="/shop/<%=item.shop_id%>"> <%=item.shop_name%> </a>购买的清单
          </td>
        </tr>
        <% for(var i = 0; i < item.order.length; i++){%>
        <tr>
          <td class="shop_name-td"><%=item.order[i].name%></td>
          <td class="price-td"><%=item.order[i].price%>元</td>
          <td class="num-td"><%=item.order[i].num%>份</td>
          <% if(i==0&item.order.length==1){%>
          <td class="total-td">共计 <%=item.total%> 元</td>
          <td class="meta-td">无备注</td>
          <!--<td class="action-td"><input type="button" class="btn again" value="再买一次！"
                                       onclick="javascript:(alert('抱歉，此功能暂未开放！'))"></td>-->
          <%}else if(i==0&item.order.length>1){%>
          <td rowspan="<%=item.order.length%>" class="total-td">共计 <%=item.total%> 元</td>
          <td rowspan="<%=item.order.length%>" class="meta-td">无备注</td>
          <!--<td rowspan="<%=item.order.length%>" class="action-td"><input type="hidden" id="order-<%=item._id%>"
                                                                        value="<%=item._id%>"> <input
                  type="button" class="btn" value="再买一次！" onclick="javascript:(alert('抱歉，此功能暂未开放！'))"></td>-->
          <%}%>
        </tr>
        <%}%>
        </tbody>
      </table>
      <% }) %>
    </section>
  </div>
  <div class="right">
    <div class="block">
      <ul class="setting">
        <li><a href="/user/order">› 历史订单</a></li>
		<li><a href="/user/account">› 帐户设置</a></li>
      </ul>
    </div>
  </div>
</div>
<% include ../footer %>