<% include ../header %>
  <h2>店铺列表</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>名称</th>
        <th>电话</th>
        <th>地址</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    <% shops.forEach(function(shop){ %>
      <tr>
        <td><%=shop.name%></td>
        <td><%=shop.tel%></td>
        <td><%=shop.address%></td>
        <td>
          <a class="btn btn-primary btn-small" href="/admin/shop/edit/<%=shop._id %>">编辑店铺</a>
          <a class="btn btn-primary btn-small" href="/admin/food/add?shop_id=<%=shop._id %>">管理美食</a>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </table>
  <div class="actions">
    <a class="btn btn-primary" href="/admin/shop/add">添加店铺</a>
  </div>
<% include ../footer %>